{
  "default": {
    "type": "memcached",
    "servers": [
      ["localhost", 11211]
    ]
  },
  "disk": {
    "type": "disk"
  },
  "apc": {
    "type": "apc",
    "mode": "opcode"
  },
  "none": {
  }
}
