{
    "default": {
        "type": "mysqli",
        "host": "localhost",
        "username": "johnnyDatabaseMan",
        "password": "johnnyDatabasePassword",
        "table": "johnnyDatabaseTable"
    }
}
